@charset "UTF-8";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* delivery_main */
/* 페이지 타이틀 */
.title {
	font-size: var(--text-big);
	margin-top: 135px;
	text-align: center
}
/* 검색 영역 */
.input_area {
	width: 412px;
	text-align: center;
	position: relative;
	margin: 30px auto 0;
}
.input_sear {
	width: 412px;
	height: 55px;
	border-radius: 30px;
	border: 0.5px solid rgba(0, 0, 0, 0.25);;
	padding-left: 30px;
	font-size: 19px;
	outline: none;
}
.input_sear::placeholder {
	color: var(--place-hol);
}
.search_icon, .ad_search_icon {
 	position: absolute;
    right: 5%;
    top: 24%;
    cursor: pointer;
    background-color: inherit;
    border: none;
}
/* 검색창 아래 텍스트 */
.input_area + p {
	color: #024CAA;
	text-align: center;
	margin-top: 30px;
}
/* 가운데 작은 컨테이너 */
.sm_container {
	width: 686px;
	background-color: white;
	margin: 56px auto 0;
	border-radius: 25px;
	padding-bottom: 50px;
	position: relative;
}
.sm_container .img_area {
	text-align: center;
	padding: 45px 0;
}
.sm_container p {
	text-align: center;
	font-size: 21px;
	color: var(--place-hol);
}
.sm_container .btn_area {
	margin-top: 90px;
	display: flex;
	justify-content: center;
}
.sm_container .btn_area a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 45px;
	background-color: var(--sub-color3);
	border-radius: 45px;
	font-size: 19px;
	color: #fff;
}

/* delivery_status */
/* 배송정보 상단 */
.stat_top {
	padding: 0 40px;
}
 .sm_container hr {
	height: 3px;
	background-color: #D9D9D9;
	border: none;
	margin: 20px 0;
}
.stat_top > ul > li {
	display: flex;
	gap: 30px;
}
.stat_top > ul > li > p {
	text-align: left;
	width: 100px;
	font-size: 18px;
}
.stat_top .value {
	color: #000;
	flex-grow: 1;
}
/* 배송정보 하단 */
.stat_bottom {
	padding: 40px 50px;
	position: relative;
}
.stat_bottom .del_log {
	border-left: 1px solid #D9D9D9;
	padding: 20px 30px 5px;
}
/* 동그라미 */
.stat_bottom .del_log::before {
	position: absolute;
	left: 40px; top: 20px;
	content: "";
	display: block;
	border-radius: 50%;
	width: 20px; height: 20px;
	background-color: #d9d9d9;
}
.stat_bottom .del_log ul li + li {
	margin-top: 20px;
}
.btn_area {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}
.btn_area a {
	background-color: var(--sub-color2);
	width: 617px; height: 60px;
	color: #fff;
	font-size: var(--text-normal);
	text-align: center;
	line-height: 60px;
	border-radius: 10px;
}

/* delivery_rec1 */
.sm_container.il {
	display: flex;
	justify-content: center;
	padding: 32px 40px;
}
.input_list label {
	width: 80px;
	color: #000;
	font-size: 20px;
}
.input_list li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 50px;
	position: relative;
}
.input_list li + li {margin-top: 40px;}
.input_list input {
	font-size: 18px;
	width: 450px; height: 65px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	padding-left: 20px;
}
.input_list input:focus {
	outline: 1px solid var(--sub-color2);
}
.input_list input::placeholder {
	font-size: 18px;
	color: var(--place-hol);
}
.input_list .values {
	margin-top: 12px;
	margin-left: 150px;
}
.input_list .values button {
	width: 65px; height: 30px;
	color: #000;
	border-radius: 5px;
	border: none;
	pointer-events: none;
	transition: all 0.3s;
	background-color: var(--place-hol);
}
.input_list .values button.on {
	pointer-events: auto;
	background-color: #FFC251;
}
#keyword, #pre_pos {
	font-size: 18px;
	width: 450px; height: 65px;
	text-align: center;
	border-radius: 10px;
	background-color: #F5F5F5;
	border: none;
	cursor: pointer;
}
.input_list .long_txt {
	font-size: 16px;
	text-align: left;
	margin-top: 24px;
	letter-spacing: -2px;
	padding-left: 130px;
}
.input_list .value_txt {
	top: 20px;
    right: 45px;
	position: absolute;
	font-size: 18px;
}
.title + h3 {
	margin-top: 21px;
	font-size: 26px;
	text-align: center;
}
#next_btn, #prev_btn, #next_btn2, #next_btn3 {
	width: 150px; height: 46px;
	font-size: 19px;
	background-color: var(--sub-color2);
	border-radius: 45px;
	color: #fff;
	border: none;
    position: absolute;
    right: 0;
    bottom: -78px;
}
#prev_btn {
	background-color: var(--place-hol);
	left: 0;	
}

/* delivery_rec2 */
.input_list .btn_ph {
	position: absolute;
    right: 40px; top: 20px;
    color: white;
    background-color: var(--place-hol);
    border: 1px solid var(--place-hol);
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.3s;
    pointer-events: none; 
}
.input_list .btn_ph.on {background-color: inherit; pointer-events: auto; color: #000;}
#certi_num {
	margin-left: auto;
	margin-right: 25px;
	display: none;
}
#certi_num.on {
	display: block;
}
#s_address2, #r_address2 {
	margin-top: 10px;
}

/* customer_sc */
.bg_container {
	width: 1020px;
	background-color: white;
	margin: 56px auto 0;
	border-radius: 25px;
	position: relative;
}
.bg_container .icon_img {
	width: 30px; height: 30px;
}
.bg_container p {color: #000; font-size: 18px;}
.bg_container p + p {
	width: 585px;
}
.bg_container .date1 {
	color: var(--place-hol);
}
.bg_container > ul > li {
	display: flex;
	align-items: center;
	padding: 20px 35px;
	gap: 30px;
	border-bottom: 1px solid var(--place-hol);
}
.bg_container > ul > li .bor_txt {
	background-color: var(--sub-color1);
	border-radius: 10px;
	padding: 0 10px;
}
.bg_container button {
	border: none;
	background-color: inherit;
	margin-left: auto;
	transition: all 0.3s;
}
.bg_container button.on {
	transform: rotate(180deg);
}
.bg_container ul li.answer {
	padding: 50px 150px;
	border-bottom: none;
	display: none;
}

.bottom_page {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 60px;
	width: 100%;
	border-radius: 20px;
}

.bottom_page ul {
	display: flex;
	height: 80px;
	column-gap: 15px;
	justify-content: center;
	align-items: center;
}

.adm_bottom_page {
	background-color: white;
	position: absolute;
	top: 886px;
	margin-top: 80px;
	margin-bottom: 60px;
	width: 1500px;
	border-radius: 20px;
}

.adm_bottom_page ul {
	display: flex;
	height: 80px;
	column-gap: 15px;
	justify-content: center;
	align-items: center;
}

/* admin 페이지 */
.ad_search {
	background-color: #fff;
	width: 1500px; height: 100px;
	border-radius: 20px;
	margin: 90px auto 0;
	display: flex;
	align-items: center;
	padding: 0 40px;
}
.ad_search input[type="text"] {
	width: 670px; height: 60px;
	border: 1px solid var(--place-hol);
	border-radius: 20px;
	padding-left: 20px;
	font-size: 20px;
}
.ad_search .line {
	width: 2px;
	height: 100px;
	background-color: #D9D9D9;
	margin: 0 40px;
}
.ad_search ul {
	display: flex;
	gap: 20px;
}
.ad_search ul li label {
	margin-left: 10px;
}

/* admin_header */
.admin_header {
    width: 100%;
	display: flex;
	gap: 130px;
}
.admin_header nav ul {
	display: flex;
	align-items: center;
	gap: 85px;
	height: 100%;
}
.admin_header nav ul li a {
	padding: 20px;
	cursor: pointer;
	font-size: 20px;
}
.admin_header nav ul li a:hover, .admin_header nav ul li.on a {
	color: var(--sub-color3);
}

/* admin_user */
.adm_table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
table {
	background-color: white;
	
}
td {
	text-align: center;
}
.admin_table {
	width: 1500px;
	border-radius: 20px;
	border-collapse: collapse;
	border-spacing: 0 15px;
	margin-top: 15px;
}
.adm_th_wrap {
	border-bottom: 1px solid black;
}
.adm_tbody tr {
	/* TODO: border-bottom으로 선을 그으면
			 맨 아랫쪽에서 border-radius로
			 깎인 모서리를 선이 튀어나감
			 그래서 border-top으로 하면
			 맨 위 헤드라인의 밑줄을 덮어서 검은색이 회색으로바뀜
	 */
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.adm_tbody tr:last-child {
	border-bottom: none;
	
}
.adm_th_wrap th {
	padding: 10px 0;
	
}
.adm_tbody td {
	padding: 10px 0;
}
.admin_table + .bottom_page {
	width: 620px;
	margin-top: 80px;
}
.admin_table + .bottom_page ul {
	justify-content: space-evenly;
}

/* admin 문의 답변 페이지 */

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal:not(.close) {
  display: block;
}

.close {
  display: block;
}

#modal .inner { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#modal .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    position:relative;
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgba(2, 76, 170, 1);
}

#modal .card p {
    font-size: 16px;
    color: var(--text-color);
}

.qna_data_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
#modal .card .p_idx {
	margin-bottom: 10px;
}

.data_inner_wrap{
	display: flex;
	justify-content: space-between;
	gap: 60px;
}

#modal .card .p_title {
	margin: 0;
}
#modal .card .p_content {
	display: inline-block;
	border: 1px solid black;
}

.answer_form .answer_label {
	text-align: left;
}

.answer_form textarea {
	width: 360px;
	height: 140px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	padding-top : 20px;
	padding-left: 20px;
}
.answer_form textarea:focus {
	outline: 1px solid var(--sub-color2);
}

.answer_button_wrap {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
	
#modal button.put_answer {}

#modal button.close {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}