.wrapper {
    width: var(--wrapper-size);
}
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* height: 1200px; */
}
.search {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 60px;
    gap: 10px;
}
.top {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
.left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.left img {
    width: 30px;
    height: 30px;
}
.right {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
}
.right img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
}
.right .list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.mid ul li h2 {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
}
.mid ul li h3 {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
}
.mid ul li {
    height: 60px;
    display: flex;
    align-content: center;
    gap: 10px;
    margin-left: 10px;
}
.main-content {
    width: 1080px;
    display: flex;
    flex-direction: column ;
    gap: 10px;
}
.tap {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-around;
    font-size: var(--text-normal);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 20px;
    margin-top: 30px;
}
.tap .tab {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
}
.tap .tab.active {
    font-weight: bold;
    opacity: 1;
    border-bottom: 2px solid black;
}
.table {
    border: 1px solid black;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 10px;
    gap: 10px;
    border-collapse: collapse;
}
table th, table td {
    border:  1px solid black;
    padding: 10px;
}
table thead tr {
    background-color: white;
}
.column {
    border: 1px solid black;
    border-radius: 15px;
}
.column-column {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}
.column-column th:nth-child(1) {
    width: 5%;
}
.column-column th:nth-child(2) {
    width: 10%;
}
.column-column th:nth-child(3) {
    width: 32%;
}
.column-column th:nth-child(4) {
    width: 32%;
}
.column-column th:nth-child(5) {
    width: 10%;
}
.column-column th:nth-child(6) {
    width: 10%;
}