.wrapper {
    width: var(--wrapper-size);
}
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* height: 1200px; */
}
.search {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 60px;
    margin: 10px;
}
.top {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
.left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.left img {
    width: 30px;
    height: 30px;
}
.right {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
}
.right img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
}
.right .list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.mid > ul {
    background-color: white;
}