.wrapper {
    width: var(--wrapper-size);
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 1100px;

}
.image-set {
    display: flex;
    height: 30px;
    gap: 20px;
}
.image-set img {
    height: 100%;
}
.login-box {
    display: flex;
    width: 900px;
    height: 700px;
    justify-content: center;
    justify-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.sign-up {
    font-size: var(--text-title);
    font: bold;
}
.sm-content {
    font-size: var(--text-samll);
}
.left-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--sub-color2);
    border-radius: 15px;
    gap: 10px;
}
.id-box {
    width: 360px;
    height: 50px;
    font-size: var(--text-samll);
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 15px;
}
.password-box {
        width: 360px;
    height: 50px;
    font-size: var(--text-samll);
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 15px;
}

.btn {
    width: 150px;
    height: 50px;
    align-content: center;
    font-size: var(--text-normal );
    border: 1px solid black;
    border-radius: 45px;
    background-color: var(--sub-color3);
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}


.right-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    gap: 30px;
}
.right-box h2 {
    font-size: var(--text-big);
}
.right-box h3 {
    font-size:  var(--text-samll);
}
#id {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}
#password {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}
