@charset "UTF-8";

.container,
header,
footer
{
	width: 100%;
	margin: 0 auto;
}
.wrapper {
	width: var(--wrapper-size);
	margin: auto;
}
section {
	margin: 100px auto;
	min-height: 300px;
}
.text-title {
	font-size: 32px;
}

