@charset "UTF-8";


.container,
header,
footer
{
	width: var(--container-size);
	margin: 0 auto;
}

section {
	margin: 100px auto;
	min-height: 300px;
}

/* =============================    header    =============== */

header {
	background: white;
}

.text-title {
	font-size: 32px;
}


.header_wrap {
	display : flex;
	flex-direction: column;
	justify-content: space-around;
	right: 30px;
	box-sizing: border-box;
	width: 1560px;
	padding-left: 20px;
	padding-right: 60px;
	padding-bottom: 10px;
}

.header_top {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	font-size: var(--text-normal);
}

.header_down {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

.header_down_1 {
	display: flex;
	justify-content: end;
	gap: 30px;
	bottom: 20px;
	font-size: var(--text-normal);
}

.header_down_2 {
	display: flex;
	justify-content: end;
	gap: 20px;
}

/* -----------------------------------------메뉴 아이콘 */
.side a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 80px;
  text-align: center;
/*   background-color: #666ef6; */
  color: white;
  font-size: 30px;
}
.bars {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 24px;
  border: -1px solid black;
  cursor: pointer;
  top: -22px;
  left: 0px;
  z-index: 105;
}
.bar {
  display: inline-block;
/*   width: 100%; */
/*   height: 3px; */
  background-color: black;
  position: absolute;
  transition: all 0.4s;
  opacity: 1;
}

.bar.top { 
	top: 4px; left: 0; 
	width: 100%;
	height: 3px;
}
/* .bar.mid { top: 50%; left: 0; transform: translateY(-50%); } */

.bar.bottom {
	bottom: 5px; right: 0; 
	width: 50%;
	height: 2px;
}

/* ---------------------------------메뉴 체크 - 햄버거 작대기 X로 변형 */

/* #offcanvas-toggle:checked ~ .header-wrap .header_down .header_down_2 .bars .top { */
header:has(#offcanvas-toggle:checked) .bars .top {
  transform: rotate(45deg) translate(-4px, -5px);
  transform-origin: top left;
}
/* #bars:checked ~ header .bars .mid { */
/*   opacity: 0; */
/*   transition: all 0.4s; */
/* } */
/* #offcanvas-toggle:checked ~ .header-wrap .header_down .header_down_2 .bars .bottom { */
header:has(#offcanvas-toggle:checked) .bars .bottom {
  transform: rotate(-45deg) translate(-3px, 3px);
  width: 100%;
  height: 3px;
  transform-origin: top left;
}
/* --------------------------------------------------offcanvas */
#offcanvas-toggle {display: none;}

/* 오프캔버스 */
.offcanvas {
    width: 400px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0px;
    right: -400px;
    transition: all 0.8s ease-in-out;
    padding: 20px;
    padding-left: 10px;
    z-index: 101;
    
}

header:has(#offcanvas-toggle:checked) .offcanvas {
    right: 0;
}

ul { list-style-type: none; }
a { text-decoration: none; color: black; }

.offcanvas_top ul {
	display: flex;
	justify-content: flex-start;
	margin-top: 60px;
	margin-right: 100px;
	margin-bottom: 50px;
	font-size: var(--text-small);
	gap: 35px;
}

.offcanvas_top ul li {
	width: 100px;
	height: 25px;
	background-color: rgba(2, 76, 170, 0.8);
	border-radius: 20px;
	text-align: center;
	align-items: center;
}
.offcanvas_top ul li a {
	color: white;
}

.offcanvas_nav ul {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.offcanvas_nav .offcanvas_ul li {
    /* padding: 20px 0; */
}

.offcanvas_nav .offcanvas_ul li:hover {
    background-color: #ccc;
    color: white;
}

.offcanvas_nav .offcanvas_ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}


----------------------------------------------------/* close 버튼 */
.btn-close {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.btn-close span {
    font-size: 40px;
}

-----------------------------------------------------/* 오버레이 */

/* ✅ 체크되었을 때 스타일 변경 ????여기 지우면 오버레이 안됨... 왜??????????*/
#offcanvas-toggle:checked + .bars .top {
  transform: rotate(45deg) translate(5px, 5px);
}

#offcanvas-toggle:checked + .bars .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* 기본 상태에서는 안 보임 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index:100;
}

/* ✅ 체크되었을 때 오버레이 활성화 */
#offcanvas-toggle:checked + a .overlay {
  opacity: 1;
  visibility: visible;
}

/* =============================    header    =============== */

/* =============================    footer    =============== */
footer {
	background: var(--footer-color);
}

footer .line {
  display: inline-block;
  width: 1px;
  height: 14px;
  position: relative;
  top: 2px;
  background-color: black;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.footer_top p {
	font-size: var(--text-normal);
	line-height: 50px;
	padding-left: 30px;
}
.footer_list_wrap {
	align-items: center;
	line-height: 50px;
	padding-right: 60px;
}
.footer_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 15px;
}


.footer_middle {
	margin-top: 100px;
	margin-left: 30px;
}

.fm1 {
	display: flex;
	gap: 15px;
}

.footer_middle_2 {
	display: flex;
	gap: 15px;
}
.fm2_1 {
	display: flex;
	gap: 15px;
}
.fm2_2 {
	display: flex;
	gap: 15px;
}
.fm2_3 {
	display: flex;
	gap: 15px;
}

.footer_middle_3 {
	display: flex;
	gap: 15px;
}
.fm3_1 {
	display: flex;
	gap: 15px;
}
.fm3_2 {
	display: flex;
	gap: 15px;
}
.fm3_3 {
	display: flex;
	gap: 15px;
}

.footer_bottom {
	display: flex;
	align-items: end;
}
.footer_bottom p {
	margin-bottom: 15px;
}

/* =============================    footer    =============== */

/* =============================    main    =============== */
.main_back{
	background: var(--main-color);
}
.main_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	gap: 70px;
}

.main_left {
	display: flex;
	flex-direction: column;
	width: 765px;
	height: 100%;
	margin-bottom: 50px;
	gap: 25px;
}

.input_delivery_no {
	position: relative;
	width: 405px;
	height: 40px;
}
.input_delivery_no input {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 0.5px solid black;
	padding-left: 20px;
}
.input_delivery_no span {
	position: absolute;
	right: 10px;
}

.booking_box_wrap {
	display: flex;
	font-size: var(--text-big);
	margin-top: 30px;
	gap: 50px;
}
.booking_box,
.info_how {
	display: flex;
	flex-direction: column;
	width: 230px;
	height: 232px;
	gap:5px;
	background: rgba(2, 76, 170, 0.8);
	border-radius: 20px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
}
.booking_box {
	background: rgba(255, 194, 81, 1);
}
.info_how {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.booking_box p,
.info_how p {
	color: white;
	font-weight: bold;	
	margin-top: 20px;
	padding-left: 15px;
}

.booking_box span,
.info_how span {
	display: block;
	text-align:right;
}

.booking_box span img,
.info_how span img {
	width: 108px;
	height: 100px;
}

.notice_wrap {
	width: 715px;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
	padding: 15px;
}
.notice {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: var(--text-normal);
}
.anno_line {
	display: flex;
	justify-content: space-between;
}

.customer_service {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
	padding: 15px;
	margin-right: 50px;
}
.customer_service .serv_center  {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: var(--text-normal);
}
.service_list {
	display: flex;
	justify-content: space-around;
}
.service_list li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.service_list .line {
	display: inline-block;
    width: 2px;
    height: 65px;
    position: relative;
   /*  top: 25px; */
    background-color: rgba(0,0,0,0.25);
}
.service_list img {
	width: 80px;
	height: 80px;
}

.main_right {
	display: flex;
	flex-direction: column;
	width: 765px;
	height: 100%;
	margin-bottom: 50px;
	gap: 10px;
	margin-top: 40px;
}
/* .main_right_wrap1, */
.main_right_wrap2 {
	display: flex;
	justify-content: space-around;
	font-size: var(--text-normal);
	margin-top: 20px;
	gap: 100px;
}
/* --------------------------------------img slide */
.main_img_slide {
  width: 770px;
  height: 420px;
}

.main_slide {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.main_slide img {
  width: 770px;
  height: 420px;
/*   object-fit: cover; */
  transition: transform 1s ease;
}
/* --------------------------------------img slide */
.main_right_bottom1,
.main_right_bottom2 {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 220px;
	gap:5px;
	background: rgba(2, 76, 170, 0.8);
	border-radius: 20px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
}

/* .main_right_top1 { */
/* 	background: rgba(2, 76, 170, 0.7); */
/* } */
/* .main_right_top2 { */
/* 	background: rgba(255, 194, 81, 0.7); */
/* } */
.main_right_bottom1 {
	background: rgba(255, 194, 81, 0.7);
}
.main_right_bottom2 {
	background: rgba(2, 76, 170, 0.7);
}

/* .main_right_top1 p, */
/* .main_right_top2 p, */
.main_right_bottom1 p,
.main_right_bottom2 p {
	color: white;
	font-weight: bold;	
	margin-top: 20px;
	padding-left: 15px;
}

/* .main_right_top1 span, */
/* .main_right_top2 span, */
.main_right_bottom1 span,
.main_right_bottom2 span {
	display: block;
	text-align:right;
}

/* .main_right_top1 span img, */
/* .main_right_top2 span img, */
.main_right_bottom1 span img,
.main_right_bottom2 span img {
	width: 68px;
	height: 60px;
}

/* =============================    main    =============== */

/* =============================    contact    =============== */



.contact_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/* 	height: 2000px; */
	margin-bottom: 140px;
}
.contact_container .il {
	width: 686px;
	background-color: white;
	margin: 56px auto 0;
	border-radius: 25px;
	padding-top: 50px;
	padding-bottom: 130px;
	position: relative;
}
.contact_title {
	font-size: var(--text-big);
	margin-top: 135px;
	text-align: center
}
.contact_container label {
	width: 120px;
	color: #000;
	font-size: 20px;
}
.contact_input_list li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 50px;
	position: relative;
}
.contact_input_list li + li {margin-top: 40px;}

.contact_input_list input {
	font-size: 18px;
	width: 450px; height: 60px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	padding-left: 20px;
}
.contact_input_list textarea {
	font-size: 18px;
	width: 450px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	padding-top : 20px;
	padding-left: 20px;
}
.contact_input_list input:focus,
.contact_input_list textarea:focus {
	outline: 1px solid var(--sub-color2);
}

.contact_input_list input::placeholder,
.contact_input_list textarea::placeholder {
	font-size: 18px;
	color: var(--place-hol);
}
.contact_container .il .values{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 170px;
}
.contact_container .il .values button {
	width: 65px; height: 30px;
	color: #000;
	border-radius: 5px;
	border: none;
	pointer-events: none;
	transition: all 0.3s;
	background-color: var(--place-hol);
}
.contact_container .il .values button.on {
	pointer-events: auto;
	background-color: #FFC251;
}
.contact_upload {
	display:flex;
}
.input_upload {
	font-size: 15px;
	width: 360px; height: 30px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	padding-left: 20px;
	margin-left: 50px;
	margin-right: 20px;
	pointer-events: none;
	user-select: none;
}
.contact_btn_find {
	width: 65px; height: 30px;
	color: #000;
	border-radius: 5px;
	border: none;
	pointer-events: none;
	transition: all 0.3s;
	background-color: var(--place-hol);
}
.contact_prev_btn {
	width: 150px; height: 46px;
	font-size: 19px;
	background-color: var(--place-hol);
	border-radius: 45px;
	color: #fff;
	border: none;
    position: absolute;
    left: 30px;
    bottom: 50px;
}
.contact_submit_btn {
	width: 150px; height: 46px;
	font-size: 19px;
	background-color: var(--sub-color2);
	border-radius: 45px;
	color: #fff;
	border: none;
    position: absolute;
    right: 30px;
    bottom: 50px;
}



/* =============================    contact    =============== */

/* =================    impossible_product    =============== */
.contact_back {
	background: var(--main-color);
}

.imp_title {
	font-size: var(--text-title);
}

.imp_main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.impossible_product {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 600px;
	background: white;
	padding: 20px;
	border-radius: 20px;
}
.impossible_product p,
.other_impossible_list p {
	font-weight: bold;
}

.impossible-list {
	border-radius: 20px;
	background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.impossible_list ul {
	width: 600px;
	background-color: white;
  display: flex;
  flex-wrap: wrap; /* 여러 줄 허용 */
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  margin: 0;
}
.impossible_list li {
  width: calc(33.333% - 13.33px); /* 3열로 나누고 gap 고려 */
  box-sizing: border-box;
  text-align: center;
}
.impossible_list span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.impossible_list img {
	width: 160px;
	height: 80px;
}
.other_impossible_list {
	background: white;
	padding: 20px;
	border-radius: 20px;
	width: 600px;
}



/* =================    impossible_product    =============== */

/* =============================    myqna    =============== */



/* =============================    myqna    =============== */